body {
  /* background-color: black; */
}

.template-container {
  display: flex;
  flex-wrap: wrap;
}
.template {
  border: 1px solid #ccc;
  background-color: dimgray;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
}

.tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}
